# Created by https://www.gitignore.io/api/text
# Edit at https://www.gitignore.io/?templates=text

### Text ###
*.doc
*.docx
*.log
*.msg
*.pages
*.rtf
*.txt
*.wpd
*.wps

### VisualStudioCode ###
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
*/.vscode/*
### VisualStudioCode Patch ###
# Ignore all local history of files
.history

## OUTPUT FILES ##
*.out


# End of https://www.gitignore.io/api/text
